<header class="row header">
    <div class="col">
        <h1>{{title}}</h1>
        <p>{{subtitle}}</p>
    </div>
    <div class="col-3 header__filter">
        <button class="btn btn-primary">
            Popularidade
            <span>carrot</span>
        </button>
    </div>
</header>
<main class="row">
    <ul class="col">
        <li class="quote-card">
            <div class="quote-msg">
                <span class="quote-msg__greeting">Ei, pessoa de x anos. </span>
                <span class="quote-msg__body">Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.</span>
            </div>
            <div class="quote-info">
                <span class="quote-info__author-age"><i>icon</i>00</span>
                <span class="quote-info__up-votes"><i>icon</i>00</span>
            </div>
        </li>
        <li class="quote-card">
            <div class="quote-msg">
                <span class="quote-msg__greeting">Ei, pessoa de x anos. </span>
                <span class="quote-msg__body">Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.</span>
            </div>
            <div class="quote-info">
                <span class="quote-info__author-age"><i>icon</i>00</span>
                <span class="quote-info__up-votes"><i>icon</i>00</span>
            </div>
        </li>
    </ul>
</main>