<div class="container">
    <nav>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="#" routerLink="/quotes" routerLinkActive="active">Conselhos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"  routerLink="/profile" routerLinkActive="active">Seus conselhos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Entrar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sair</a>
            </li>
        </ul>
    </nav>
    <div class="col-sm-12">
        <router-outlet></router-outlet>
    </div>
</div>