<div class="container">
    <nav>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="#" routerLink="/quotes" routerLinkActive="active">Quotes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"  routerLink="/special" routerLinkActive="active">Private Quotes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Log Out</a>
            </li>
        </ul>
    </nav>
    <div class="col-sm-12">
        <router-outlet></router-outlet>
    </div>
</div>