<div class="container">
    <nav>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/quotes" routerLinkActive="active">Conselhos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/profile" routerLinkActive="active">Seus conselhos</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-link" (click)="authService.loginWithRedirect()">Entrar</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-link"  (click)="authService.logout()">Sair</a>
            </li>
        </ul>
    </nav>
    <div class="col-sm-12">
        <router-outlet></router-outlet>
    </div>
</div>